<!-- <app-buttons-section></app-buttons-section>
<app-inputs-section></app-inputs-section>
<app-crs-section></app-crs-section>
<app-navigation-section></app-navigation-section>
<section class="section section-components">
  <app-tabs-section></app-tabs-section>
  <app-alerts-section></app-alerts-section>
  <app-typography-section></app-typography-section>
  <app-angular-section></app-angular-section>
</section> -->
<section class="section section-shaped">
  <div class="shape shape-style-1 shape-default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container py-md">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-5 mb-5 mb-lg-0">
        <h1 class="text-white font-weight-light">Tokens</h1>
        <p class="lead text-white mt-4">Koinz has a variety of tokens that you can make use of.</p>
        <a href="https://demos.creative-tim.com/argon-design-system-angular/documentation/alerts?ref=adsa-bootstrap-carousel" class="btn btn-white mt-4">See all components</a>
      </div>
      <div class="col-lg-6 mb-lg-auto">
        <div class="rounded shadow-lg overflow-hidden transform-perspective-right bootstrap-slider">
          <ngb-carousel>
              <ng-template ngbSlide>
                <img class="img-fluid" src="assets/img/theme/img-1-1200x1000.jpg" alt="First slide">
              </ng-template>
              <ng-template ngbSlide>
                <img class="img-fluid" src="assets/img/theme/img-2-1200x1000.jpg" alt="Second slide">
              </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>
  <!-- SVG separator -->
  <div class="separator separator-bottom separator-skew">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Using Blockchain to <br>Create Liquid, Accessible Markets</h3>
                <p>"...blockchain-based tokenization of real-world assets <br>to become the next “killer use case” in crypto"- CitiBank</p>
            </div>
            <div class="col-lg-6 text-end d-flex flex-column justify-content-center">
                <a href="//my.koinz.co.za/sign-in" class="btn bg-gradient-info mb-0 ms-lg-auto me-lg-0 me-auto mt-lg-0 mt-2 disabled">Start Investing</a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-6 col-lg-4 mt-lg-0 mt-4">
                <img src="/static/img/icons/access_door_lock_smart_roomlocker_password_key_icon_218650.30179175f6d4.svg">
                <h5>Improved Access</h5>
                <p class="text-sm">Tokenization democratizes access to real assets allowing access for a different group of investors than it has done historically.</p>
            </div>
            <div class="col-sm-6 col-lg-4 mt-lg-0 mt-4">
                <img class="width-48-px mb-3" src="/static/img/icons/foreign.351a008e1f55.png">
                <h5>Bringing Liquidity to the Illiquid</h5>
                <p class="text-sm">Enhanced liquidity and increased trading volume, improves price discovery, minimizes price volatility and mitigates the risk associated with being unable to exit.</p>
            </div>
            <div class="col-sm-6 col-lg-4 mt-lg-0 mt-4">
                <img class="width-48-px mb-3" src="/static/img/icons/ipo.fa9a868192dc.png">
                <h5>Capital Raising</h5>
                <p class="text-sm">Asset-based tokens maximize fundraising opportunities for your and your business.</p>
            </div>
            <div class="col-sm-6 col-lg-4 mt-lg-5 mt-4">
                <img class="width-48-px mb-3" src="/static/img/icons/property_concept_building_designs_construction_icon_227288.9e6a9ff411ec.svg">
                <h5>Real-World Assets</h5>
                <p class="text-sm">Tokens based on bespoke assets such as real estate, art, collectibles, agriculture and intangible assets.</p>
            </div>
            <div class="col-sm-6 col-lg-4 mt-lg-5 mt-4">
                <img class="width-48-px mb-3" src="/static/img/icons/stock.e23b76642444.png">
                <h5>Financial Assets</h5>
                <p class="text-sm">Creation of tokens that digitally represent traditional financial assets such as money, shares, bonds, commodities, FX and funds.</p>
            </div>
            <div class="col-sm-6 col-lg-4 mt-lg-5 mt-4">
                <img class="width-48-px mb-3" src="/static/img/icons/buy_sell.2d5c8467093a.png">
                <h5>Secondary Market</h5>
                <p class="text-sm">Overcoming the historical lack of lack secondary market trading and liquidity, allowing investors buy and sell assets that they already own.</p>
            </div>
        </div>
    </div>
</section>

<app-nucleo-section></app-nucleo-section>
<section class="section section-lg section-shaped">
  <div class="shape shape-style-1 shape-default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container py-md">
    <div class="row row-grid justify-content-between align-items-center">
      <div class="col-lg-6">
        <h3 class="display-3 text-white">Koinz is here for you
          <span class="text-white">Tokenize your real assets</span>
        </h3>
        <p class="lead text-white">Involves the digital representation of real (physical) assets on distributed ledgers, or the issuance of traditional asset classess in Tokenised form.</p>
        <div class="btn-wrapper">
          <a [routerLink]="['/login']" class="btn btn-success">Login Page</a>
          <a [routerLink]="['/register']" class="btn btn-white">Register Page</a>
        </div>
      </div>
      <div class="col-lg-5 mb-lg-auto">
        <div class="transform-perspective-right">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white pb-5">
              <div class="text-muted text-center mb-3">
                <small>Sign in with</small>
              </div>
              <div class="btn-wrapper text-center">
                <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                  <!-- <span class="btn-inner--icon">
                    <img src="./assets/img/icons/common/github.svg">
                  </span> -->
                  <!-- <span class="btn-inner--text">Github</span> -->
                </a>
                <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon">
                    <img src="./assets/img/icons/common/google.svg">
                  </span>
                  <!-- <span class="btn-inner--text">Google</span> -->
                </a>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Or sign in with credentials</small>
              </div>
              <form role="form">
                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email" type="email" (focus)="focus=true" (blur)="focus=false">
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Password" type="password" (focus)="focus1=true" (blur)="focus1=false">
                  </div>
                </div>
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id=" customCheckLogin2" type="checkbox">
                  <label class="custom-control-label" for=" customCheckLogin2">
                    <span>Remember me</span>
                  </label>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-primary my-4">Sign in</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SVG separator -->
  <div class="separator separator-bottom separator-skew">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>
<!-- <app-versions-section></app-versions-section> -->
